.buttons {
   color: aqua;
   background-color: black;
   width: 200px;
}
.adminLogin {
   background-color: #374151;
   width: 200px;
}
.buttonBG {
   background-color: #d0d0d0;
}
.buttonBGActive {
   background-color: #374151;
}
